.grid{
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 550px;
}

.square{
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-image: url('bgmole.jpg');
    background-size: cover;
}

.mole{
    background-image: url('diglett.jpg');
    background-size: cover;
}

h2{
    text-align: center;
    font-size: x-large;
    font-family:cursive;
}

body{
    background-color: rgb(105, 184, 65);
}